
.topo {
    background-color: rgb(85, 129, 85);
    height: 140px;
    width: 980px;
    margin-bottom: 15px;
    
    
}

.sidebar {
    background-color: rgb(85, 129, 85);
    height: 450px;
    width: 270px;
    display: inline-block;
    
}

.content {
    background-color: rgb(85, 129, 85);
    height: 450px;
    width: 690px;
    display: inline-block;
    margin-left: 15px;
    
}

.footer {
    background-color: rgb(85, 129, 85);
    height: 70px;
    width: 980px;
    margin-top: 15px;
}


